@tailwind base;
@tailwind components;
@tailwind utilities;

html, body * {
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-image: url(../public/pokemonbg.jpg);
}
:root {
    --purple: #AB196F;
    --green: #2BFDAF;
    --black: #000000;
    --gray: #b4b4b4;
    --white: #FFFFFF;
    --primary: var(--purple);
    --secondary: var(--green);
    --font-color: var(--black);
    --h1: 7.5rem;
    --h2: 6rem;
    --h3: 4.5rem;
    --p: 2.5rem;
}
.container{
    width: 95vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    grid-row-gap: 2vw;
    padding: 1rem;
}

button:hover{
    cursor: pointer;
}
@media (max-width: 1290px) {
    h1 {
        font-size: var(--h2);
    }
    .card-header{
        font-size: var(--h3);
    }
    .container {
        justify-content: center;
    }
    .card {
        width: 25%;
        height: auto;
    }
    .card-img {
        width: 95%;
        height: auto
    }
}
@media (max-width: 1082px){
    .card {
        width: 38%;
    }
}
@media (max-width: 724px){
    .card {
        width: 80%;
    }
}